h1{
    color: white;
    padding:auto;
    border: 10px solid rgb(85, 20, 20);
    margin: 10px 450px 10px 300px;
    text-align: center;
    
    
}

h2{
    color: white;
    padding: auto;
    border: 6px solid rgb(6, 190, 6);
    margin: 10px 1230px 10px 10px ;
}

body{
    background-color: rgb(19, 19, 167);
}